{% extends 'search/base.html' %}

{% block body %}
    {%  if all_resumes %}
        <h3 style="padding-left: 10px">Total Solutions In List: {{ all_resumes_count }}</h3>


        <form action="" method="get" accept-charset="utf-8">
            &nbsp&nbsp<input id="find" name="find" type="text" placeholder="Search">
            <button class="btn btn-group" type="submit">Submit</button>
        </form>



        <ul>
            {% for resume in all_resumes %}
                <li><a href="{% url 'search:detail' resume.id %}">{{ resume.basics.name }} {{ resume.basics.label }}</a></li>
            {% endfor %}
        </ul>
    {% elif query_resumes %}
        <h3 style="padding-left: 10px">Total Solutions In Search: {{ query_resumes_count }}</h3>


        <form action="" method="get" accept-charset="utf-8">
            &nbsp&nbsp<input id="find" name="find" type="text" placeholder="Search">
            <button class="btn btn-group" type="submit">Submit</button>
        </form>




        <ul>
            {% for resume in query_resumes %}
                <li><a href="{% url 'search:detail' resume.id %}">{{ resume.basics.name }} {{ resume.basics.label }}</a></li>
            {% endfor %}
        </ul>

    {% else %}
        <h3>There are no solutions in databases as of now. Please upload json file to the database!</h3>
    {% endif %}
{% endblock %}
